name: Build - Multi Stage

on:
  workflow_dispatch:

jobs:

  build:
    name: Build Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3.0.1

      - name: Build image
        id: build-image
        env:
          IMAGE_NAME: php-demo
        run: |
          docker build -f Dockerfile.multi_stage -t $IMAGE_NAME .
          docker images

